@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*,*::after,*::before{
    margin: 0;
    padding:0;
}

:root{
    color:hsl(211, 10%, 45%);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: hsl(228, 33%, 97%)
    
}

.container{
    width: 60%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
    
    
}



/*======================


=========================*/


.comments_section{
    margin-top: 4rem;
}


.comments{
    background-color: white;
    padding: 1.5rem;
    border-radius: .5em;
    min-width: 650px;
}

.button{
    color: hsl(238, 40%, 52%);
    display: flex;
    margin-right: .9rem;
    flex-direction: column;
}

.button button{
    color: hsl(238, 40%, 52%);
    font-size: 1rem;
    padding: .3em .5rem;
    background-color: hsl(228, 33%, 97%);
    border-style: none;
    cursor: pointer;
}

.plus{
    border-top-left-radius: .5rem ;
    border-top-right-radius: .5rem;
}

.minus{
    border-bottom-left-radius: .5rem ;
    border-bottom-right-radius: .5rem;
}

.button .counter{
    font-size: .9rem;
    padding: 0 .5em;
    background-color: hsl(228, 33%, 97%);
}

.button + .user-info{
    margin-right: .5rem;
}

/*========================================


========================================*/

.username{
    color: black;
}

.user-info{
    flex-direction: row;
    margin-bottom: .4rem;
   align-items: center;
}

.user-info img {
    margin-right: .4rem;
}

.user-info p{
    display: inline-block;
}

.user-post{
    font-size: 1rem;
     
}

.user-reply{
    margin-left: 20rem;
}

.user-reply button {
    color:hsl(238, 40%, 52%);
    background-color: white;
    border-style: none;
    cursor: pointer;
}

.user-reply img{
 
  color: hsl(238, 40%, 52%);
}

